<div layout>
  <div flex></div>
    <div flex>
      <md-content>
        <md-card>
          <md-card-content>
             <md-toolbar class="md-primary">
                <h1 class="md-toolbar-tools">Create New Job</h1>
             </md-toolbar>
              <md-content layout-padding class="autoScroll">
                <md-input-container class="md-icon-float" >
                  <input ng-model="job.title" type="text" placeholder="Job title" ng-required="true">
                </md-input-container>
                  <md-input-container class="md-icon-float" >
                    <input ng-model="job.location" type="text" placeholder="Location" ng-required="true">
                  </md-input-container>
                      <textarea rows="4" cols="42" name="comment" form="usrform" placeholder="Job description"></textarea>
                     <md-input-container flex>
                          <label>Application Deadline</label>
                          <input type="date" ng-model="user.date">
                        </md-input-container>
                         <div layout="column" layout-align="start center">
                          <md-button class="md-raised md-warn" layout-align="start center">Create</md-button>
                        </div>
                  </md-content>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
  <div flex></div>
</div>