<div layout="column" layout-align="center" class="dialog-demo-content">
  <div layout="row">
  <div flex >
    </div>
      <div flex >
        <md-content>
          <md-card>
              <md-card-content>
               <md-toolbar class="md-primary">
                  <h1 class="md-toolbar-tools">My Profile</h1>
                </md-toolbar>
                 <md-content layout-padding class="autoScroll">
                  <md-input-container class="md-icon-float" layout-padding>
                    <label>Firstname</label>
                    <md-icon md-svg-src="/libs/material-design-icons/social/svg/design/ic_person_outline_24px.svg" class="firstname"></md-icon>
                    <input ng-model="currentUser.firstname" type="text">
                  </md-input-container>
                    <md-input-container class="md-icon-float" >
                      <label>Lastname</label>
                      <md-icon md-svg-src="/libs/material-design-icons/social/svg/design/ic_person_outline_24px.svg" class="lastname"></md-icon>
                      <input ng-model="currentUser.lastname" type="text">
                    </md-input-container>
                      <md-input-container class="md-icon-float" >
                        <label>Username</label>
                        <md-icon md-svg-src="/libs/material-design-icons/editor/svg/design/ic_insert_emoticon_24px.svg" class="username"></md-icon>
                        <input ng-model="currentUser.username" type="text">
                      </md-input-container>
                        <md-input-container class="md-icon-float">
                          <md-icon md-svg-src="/libs/material-design-icons/content/svg/design/ic_mail_24px.svg" class="email"></md-icon>
                         <input ng-model="currentUser.email" type="email" placeholder="Email (required)" ng-required="true">
                        </md-input-container>
                      <md-input-container class="md-icon-float">
                         <md-icon md-svg-src="/libs/material-design-icons/communication/svg/design/ic_call_24px.svg" class="password"></md-icon>
                          <input ng-model="currentUser.mobilenumber" type="text" placeholder="Phone Number">
                        </md-input-container>
                      </md-content>
                  <div></div>
              </md-card-content>
                <md-button class="md-raised md-primary" ng-click="updateProfile()">Save</md-button>
                <md-button class="md-raised md-primary" ng-click="deleteUser()">Delete Account</md-button>
            </md-card>
          </md-content>
        </div>
         <div flex hide-sm>
        </div>
</div>
</div>