<div ng-controller="HomeCtrl">
  <md-toolbar>
    <md-content>
      <div class="md-toolbar-tools md-accent">
        <md-button class="md-raised md-primary" layout="row" layout-align="end end" href = "#/">Home</md-button>
          <h2>
          </h2>
            <span flex></span>
            <md-button href="#/signin">Sign in</md-button>
            <md-button href="#/signup">Sign up</md-button>
    </md-content>
      </div>
  </md-toolbar>
  <div class="welcome-message">
    <div>
      <div class = "welcome-divider"layout="column" layout-align="center center">
        <h1>ANDEJOBS</h1>
        <p>Work At Andela</p>
        <h3 class="h3">Why Andela?</h3>
        <hr class="divider"></hr>
        <blockquote>Andela is a global talent accelerator that produces world-class remote developers and connects them with top employers.</blockquote>
          <blockquote>We find the brightest young people in Africa and give them the training and mentorship needed to thrive as professionals for companies around the world.</blockquote>
      </div>
    </div>
  </div>
    <div class="ccontainer"></div>
      <div class="hirebutton" layout="column" layout-align="start center">
      <md-divider md-inset ng-if="!$last"></md-divider>
        <md-button href="#/jobs" class="md-raised md-primary"  >WE'RE HIRING!</md-button>
      </div>
        <div class="container"></div>
          <div class="jobs"layout="row" layout-align="space-around center">
            <md-button md-no-ink class="md-primary">DEVELOPER</md-button>
            <md-button md-no-ink class="md-primary">BUSINESS</md-button>
            <md-button md-no-ink class="md-primary">OPERATIONS</md-button>
            <md-button md-no-ink class="md-primary">TRAINER</md-button>
          </div>
</div>

