 <div>
  <div class="welcome-message">
    <div>
      <div layout="column" layout-align="center center">
        <h1>ANDEJOBS</h1>
        <h3>Work At Andela</h3>
        <hr class = "welcome-divider">
        <h2>Source the world's brightest minds</h2>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
    <div layout layout-align="center center">
      <h3>Why Andela?</h3>
    </div>
      <div layout="column" layout-align="center center">
        <blockquote>Andela is a global talent accelerator that produces world-class remote developers and connects them with top employers. Andela finds the brightest young people in Africa and gives them the training and mentorship needed to thrive as professionals for companies around the world.</blockquote>
      </div>
        <div layout="column" layout-align="start center">
          <md-button href="#/jobs" class="md-raised md-primary" >WE'RE HIRING!</md-button>
           <div layout="row" layout-align="space-around center">
              <md-button md-no-ink class="md-primary">DEVELOPER</md-button>
              <md-button md-no-ink class="md-primary">BUSINESS</md-button>
              <md-button md-no-ink class="md-primary">OPERATIONS</md-button>
              <md-button md-no-ink class="md-primary">BUSINESS</md-button>
          </div>
        </div>
          <md-divider></md-divider>
            <div layout="row" layout-align="start center">
            </div>
  </div>