<md-content layout layout-align="center center">
  <md-card flex="70">
    <md-card-content >
      <div>
        <md-toolbar layout="row">
          <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Andejobs</h1>
        </md-toolbar>
           <md-content>
             <md-list>
              <md-list-item class="md-3-line" ng-repeat="item in allJobs">
              <div class="md-list-item-text">
                <h3>{{item.title}}</h3>
                <h4>{{item.location}}</h4>
                <h5>{{item.description}}</h5>
                <p>Application Deadline: {{item.date_posted}}</p>
              </div>
                 <md-button class="md-raised md-primary" href="#/submit" style="width: 112px; ">Apply</md-button>
              <div layout="row" layout-align="start center">
              <md-divider ng-if="!$last"></md-divider>
              </div>
              </md-list-item>
            </md-list>
          </md-content>
      </div>
    </md-card-content>
  </md-card>
</md-content>
