  <div layout="row">
    <div flex >
      </div>
        <div flex >
          <md-content>
            <md-card>
                <md-card-content>
                 <md-toolbar class="md-primary">
                    <h1 class="md-toolbar-tools">Sign Up</h1>
                  </md-toolbar>
                   <md-content layout-padding class="autoScroll">
                    <md-input-container class="md-icon-float" layout-padding>
                      <label>Firstname</label>
                      <md-icon md-svg-src="/libs/material-design-icons/social/svg/design/ic_person_outline_24px.svg" class="firstname"></md-icon>
                      <input ng-model="user.firstname" type="text">
                    </md-input-container>
                      <md-input-container class="md-icon-float" >
                        <label>Lastname</label>
                        <md-icon md-svg-src="/libs/material-design-icons/social/svg/design/ic_person_outline_24px.svg" class="lastname"></md-icon>
                        <input ng-model="user.lastname" type="text">
                      </md-input-container>
                        <md-input-container class="md-icon-float" >
                          <label>Username</label>
                          <md-icon md-svg-src="/libs/material-design-icons/editor/svg/design/ic_insert_emoticon_24px.svg" class="username"></md-icon>
                          <input ng-model="user.username" type="text">
                        </md-input-container>
                          <md-input-container class="md-icon-float" >
                            <label>Email</label>
                            <md-icon md-svg-src="/libs/material-design-icons/content/svg/design/ic_mail_24px.svg" class="email"></md-icon>
                            <input ng-model="user.email" type="text">
                       </md-input-container>
                        <md-input-container class="md-icon-float" >
                          <label>Password</label>
                          <md-icon md-svg-src="/libs/material-design-icons/action/svg/design/ic_lock_24px.svg" class="password"></md-icon>
                          <input ng-model="user.password" type="text">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                          <label>Mobile Number</label>
                          <md-icon md-svg-src="/libs/material-design-icons/communication/svg/design/ic_call_24px.svg" class="password"></md-icon>
                          <input ng-model="user.mobilenumber" type="text">
                        </md-input-container>
                    </md-content>
                    <div></div>
                </md-card-content>
                 <md-button class="md-raised md-warn">Sign up</md-button>
              </md-card>
            </md-content>
          </div>
           <div flex hide-sm>
          </div>
  </div>
